.searchBar {
  display: flex;
  align-items: center;
  height: 100%;

  label, input{
    color: white !important;
  }

  .Mui-Focused *{
    outline: none;

    >div {
      outline: none;

      >div {
        outline: none;

      }
    }
  }
}
